#box1{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
}
#box1:hover{
    width: 600px;
    transition: 2s ease-in 0.5s; 

}
#box2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    transform: rotate(90deg);
    transform: translate(200px,200px);
}
#box3{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transform: skew(20deg);
}
#box4{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px green;
    
}
#myPic{
    width: 100px;
    height: 100px;
    background-color: pink;
    background-image: url("rohitphoto.jpg");
    background-size: cover;
    opacity: 50%;

}